<div class="container my-4">

    <!-- Show navbar only when user is logged in -->
    <nav *ngIf="auth.isLoggedIn()" class="navbar navbar-expand navbar-light bg-light rounded px-3 mb-4">
      <a class="navbar-brand fw-semibold" routerLink="/dashboard">Slot Swap</a>
  
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">My Events</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/marketplace">Marketplace</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/swaps">Swaps</a></li>
      </ul>
  
      <button class="btn btn-outline-danger btn-sm" (click)="logout()">
        Logout
      </button>
    </nav>
  
    <!-- Displays pages -->
    <router-outlet></router-outlet>
  
  </div>
  